@font-face {
    font-family: Okta Neue;
    font-style: normal;
    src: url('./fonts/OktaNeue-Normal.ttf');
}
@font-face {
    font-family: Okta Neue;
    font-style: oblique;
    src: url('./fonts/OktaNeue-Bold.ttf');
}
html,
body {
    min-width: 320px;
    display: flex;
    padding: 0;
    margin: 0 auto;
    font-family: Okta Neue;
}

.container{
    background-color: #E7E7E7;
    display: flex;
    min-width: 320px;
    max-width: 900px;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    border-radius: 16px;

    padding: 0 0 80px;
}


.logo{
    display: flex;
    margin: 20px auto 0;
    width: 240px;
    height: 68px;
}

.mainTitel{
    margin: 18.95px 0px 21.91px 13.98px;
    flex-shrink: 0;
    height: 29px;
    width: 129px;
}

.logoTitel{
    margin: 0 0 13.05px;
    height: 54.95px;
    width: 55.351px;
}

.ticTac{
    margin: 12.05px 0px 23.01px 7.93px;
    height: 32.94px;
    width: 34.37px;
}




/*for info*/
.info{
    display: flex;
    position: relative;
    width: 280px;
    height: 52px;
    border-radius: 16px;
    background-color:  #FFF;
}

.points{
    margin-top: 5px;
    margin-left: 14px;
    height: 22px;
    width: 65px;


    color: #000;
    font-size: 14px;
    font-style: oblique;
    font-weight: 400;
    line-height: normal;
}

.howTo{
    position: absolute;
    top: 23px;
    left: 14px;

    color: #4F88F6;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.prizes{
    margin-left: 85px;
    margin-top: 4px;
    width: 112px;
    height: 44px;
}

.about{
    position: absolute;
    top: 23px;
    left: 175px;
    color: #FFF;
    font-size: 12px;
    font-style: oblique;
    font-weight: 400;
    line-height: normal;
}


/*for playground*/
.playground{
    display: grid;
    grid-template-columns: 93.3px 93.3px 93.3px;
}

.playground div{
    display: flex;
    align-items: center;
    justify-content: center;

    border: 4px solid #E7E7E7;
    background-color: #FFF;
    width: 93.3px;
    height: 93.3px;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.action{
    width: 56px;
    height: 56px;
}


/*for enemy button*/
.enemy{
    margin-top: 8px;

    display: flex;
    width: 280px;
    height: 52px;
    justify-content: center;
    align-items: center;

    border-radius: 16px;
    background: #FFF;
}

.enemy input{
    border: none;
    padding: 0;

    width: 267px;
    height: 40px;

    border-radius: 14px;



    font-family: Okta Neue;
    color: #FFF;
    text-align: center;
    font-size: 12px;
    font-style: oblique;
    font-weight: 400;
    line-height: normal;
}

.button{
    background-color: #736093;
}

.button:disabled{
    background-color: #828282;
}

/*for game history*/
.gameHistory{
    display: flex;
    width: 280px;
    flex-direction: column;
}

.titel{
    margin: 0 auto;
    color: #000;
    font-size: 14px;
    font-style: oblique;
    font-weight: 400;
    line-height: normal;

    width: 85px;
    height: 22px;
}


/*for person*/
.person{
    display: flex;
    position: relative;
    margin-top: 8px;

    width: 280px;
    height: 52px;

    border-radius: 16px;
    background-color: #FFF;
}

.name{
    margin-top: 5px;
    margin-left: 14px;

    max-width: 144px;

    overflow: hidden;
    color: #000;
    text-overflow: ellipsis;

    font-size: 14px;
    font-style: oblique;
    font-weight: 400;
    line-height: normal;
}

.win {
    color: #50B04E;
}

.lose {
    color: #DF3939;
}

.pointsGameHistory{
    position: absolute;
    top: 26px;
    left: 14px;

    color: #828282;

    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.profile{
    position: absolute;
    top: 6px;
    left: 167px;
    height: 40px;
}

.profile input{
    border: none;

    display: inline-flex;
    padding: 9px 25px 12px 27px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    border-radius: 14px;
    background-color: #736093;


    color: #FFF;
    text-align: center;
    font-family: Okta Neue;
    font-size: 12px;
    font-style: oblique;
    font-weight: 400;
    line-height: normal;
}


/*for timer*/
.timer{
    position: absolute;
    top: 6px;
    left: 167px;


    display: flex;
    width: 106px;
    height: 40px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 14px;
    background-color: #736093;


    color: #FFF;
    text-align: center;

    font-family: Okta Neue;
    font-size: 12px;
    font-style: oblique;
    font-weight: 400;
    line-height: normal;
}